.detail-title {
    font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 15px;
  width: 73vw;
  letter-spacing: 1px;
  color: #47516B;
}


  .card-section-list {
    display: flex;
    margin-top: 10px;
  }

  .education {
    width: 100%;
    display: flex;
    flex-direction: row;
  }



  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1.5 s ease-in-out;
  }
  

  @keyframes drop {
    from {
      opacity: 0;
      transform: translateY(-100px); /* Start position above */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* End position at normal place */
    }
  }
  
  .drop-animation {
    animation: drop 1s ease-out; /* Adjust duration and easing as needed */
  }
  